/* Hexagon CSS */
/* * {
  margin: 0;
  padding: 0;
} */

body {
  background: rgb(123, 158, 158);
}

#hexGrid {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  list-style-type: none;
}

.hex {
  position: relative;
  visibility: hidden;
  outline: 1px solid transparent;
  /* fix for jagged edges in FF on hover transition */
}

.hex::after {
  content: '';
  display: block;
  padding-bottom: 86.602%;
  /* =  100 / tan(60) * 1.5 */
}

.hexIn {
  position: absolute;
  width: 96%;
  padding-bottom: 110.851%;
  /* =  width / sin(60) */
  margin: 0 2%;
  overflow: hidden;
  visibility: hidden;
  outline: 1px solid transparent;
  /* fix for jagged edges in FF on hover transition */
  -webkit-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
  -ms-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
  transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
}

.hexIn * {
  position: absolute;
  visibility: visible;
  outline: 1px solid transparent;
  /* fix for jagged edges in FF on hover transition */
}

.hexLink {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  overflow: hidden;
  -webkit-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
  -ms-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
  transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
}

/*** HEX CONTENT **********************************************************************/
.hex img {
  left: -100%;
  right: -100%;
  width: 100% auto;
  height: 100%;
  margin: 0 auto;
  -webkit-transform: rotate3d(10, 0, 0, 0deg);
  -ms-transform: rotate3d(0, 0, 0, 0deg);
  transform: rotate3d(0, 0, 0, 0deg);
}

.hex h1,
.hex p {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgba(0, 128, 128, 0.8);
  font-weight: 600;
  -webkit-transition: -webkit-transform .2s ease-out, opacity .3s ease-out;
  transition: transform .2s ease-out, opacity .3s ease-out;
}

.hex h1 {
  bottom: 50%;
  padding-top: 50%;
  font-size: 1.35em;
  font-weight: 900;
  z-index: 1;
  -webkit-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.hex h1::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 30%;
  width: 40%;
  text-align: center;
  border-bottom: 1px solid #fff;
}

.hex p {
  top: 50%;
  padding-bottom: 50%;
  -webkit-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}




/***ERIN CSS ***/

/* .headDiv {
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  font-weight: bold;
  width: 100%;
  text-align: center; */
  /* padding: 60px; */
  /* padding-top: 60px;
  margin: 0 auto;
}

.contactSection {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin: 80px;
} */

/* .topBar {
  margin: 0 auto;
  width: 100%; */
  /* margin-left: 30%; */
  /* text-align: center; */
  /* overflow: hidden; */
  /* display: flex; */
  /* flex-wrap: wrap; */
/* } */
/* 
.headBar {
  font-size: 60px;
  font-family: 'Raleway', sans-serif;
  padding: 60px;
  text-align: right;
} */
/* 
hr {
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 25%;
} */

/*** HOVER EFFECT  **********************************************************************/
.hexLink:hover h1,
.hexLink:focus h1,
.hexLink:hover p,
.hexLink:focus p {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  color: #fff;
}


/*** STRIPS *****************************************************************/
* {
  box-sizing: border-box;
}

.strips {
  min-height: 100vh;
  text-align: center;
  overflow: hidden;
  color: white;
}
.strips__strip {
  will-change: width, left, z-index, height;
  position: absolute;
  width: 20%;
  min-height: 100vh;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.strips__strip:nth-child(1) {
  left: 0;
}
.strips__strip:nth-child(2) {
  left: 20vw;
}
.strips__strip:nth-child(3) {
  left: 40vw;
}
.strips__strip:nth-child(4) {
  left: 60vw;
}
.strips__strip:nth-child(5) {
  left: 80vw;
}
.strips__strip:nth-child(1) .strip__content {
  background: #244F75;
  transform: translate3d(-100%, 0, 0);
  animation-name: strip1;
  animation-delay: 0.1s;
}
.strips__strip:nth-child(2) .strip__content {
  background: #60BFBF;
  transform: translate3d(0, 100%, 0);
  animation-name: strip2;
  animation-delay: 0.2s;
}
.strips__strip:nth-child(3) .strip__content {
  background: #8C4B7E;
  transform: translate3d(0, -100%, 0);
  animation-name: strip3;
  animation-delay: 0.3s;
}
.strips__strip:nth-child(4) .strip__content {
  background: #F8BB44;
  transform: translate3d(0, 100%, 0);
  animation-name: strip4;
  animation-delay: 0.4s;
}
.strips__strip:nth-child(5) .strip__content {
  background: #F24B4B;
  transform: translate3d(100%, 0, 0);
  animation-name: strip5;
  animation-delay: 0.5s;
}


/*** STRIPS MEDIA BREAKS *****************************************************************/
@media screen and (max-width: 760px) {
  .strips__strip {
    min-height: 20vh;
  }
  .strips__strip:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
  }
  .strips__strip:nth-child(2) {
    top: 20vh;
    left: 0;
    width: 100%;
  }
  .strips__strip:nth-child(3) {
    top: 40vh;
    left: 0;
    width: 100%;
  }
  .strips__strip:nth-child(4) {
    top: 60vh;
    left: 0;
    width: 100%;
  }
  .strips__strip:nth-child(5) {
    top: 80vh;
    left: 0;
    width: 100%;
  }
}
.strips .strip__content {
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  animation-fill-mode: both;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.strips .strip__content:hover:before {
  transform: skew(-30deg) scale(3) translate(0, 0);
  opacity: 0.1;
}
.strips .strip__content:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0.05;
  transform-origin: center center;
  transform: skew(-30deg) scaleY(1) translate(0, 0);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.strips .strip__inner-text {
  will-change: transform, opacity;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.strips__strip--expanded {
  width: 100%;
  top: 0 !important;
  left: 0 !important;
  z-index: 3;
  cursor: default;
}
@media screen and (max-width: 760px) {
  .strips__strip--expanded {
    min-height: 100vh;
  }
}
.strips__strip--expanded .strip__content:hover:before {
  transform: skew(-30deg) scale(1) translate(0, 0);
  opacity: 0.05;
}
.strips__strip--expanded .strip__title {
  opacity: 0;
}
.strips__strip--expanded .strip__inner-text {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.strip__title {
  display: block;
  margin: 0;
  position: relative;
  z-index: 2;
  width: 100%;
  font-size: 3.5vw;
  color: white;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
@media screen and (max-width: 760px) {
  .strip__title {
    font-size: 28px;
  }
}

.strip__close {
  position: absolute;
  right: 3vw;
  top: 3vw;
  opacity: 0;
  z-index: 10;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  cursor: pointer;
  transition-delay: 0.5s;
}
.strip__close--show {
  opacity: 1;
}

@keyframes strip1 {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes strip2 {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes strip3 {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes strip4 {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes strip5 {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
/* Demo purposes */
body {
  font-family: "Lato";
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  line-height: 1.5;
}

h1, h2 {
  font-weight: 300;
}

.fa {
  font-size: 30px;
  color: white;
}

h2 {
  font-size: 40px;
  margin: 0 0 16px;
}

p {
  margin: 0 0 16px;
  font-size: 20px;
}

/*# sourceMappingURL=style.css.map */

/*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/
@media (min-width:1201px) {

  /* <- 5-4  hexagons per row */
  #hexGrid {
      padding-bottom: 4.4%
  }

  .hex {
      width: 20%;
      /* = 100 / 5 */
  }

  .hex:nth-child(9n+6) {
      /* first hexagon of even rows */
      margin-left: 10%;
      /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 1200px) and (min-width:901px) {

  /* <- 4-3  hexagons per row */
  #hexGrid {
      padding-bottom: 5.5%
  }

  .hex {
      width: 25%;
      /* = 100 / 4 */
  }

  .hex:nth-child(7n+5) {
      /* first hexagon of even rows */
      margin-left: 12.5%;
      /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 900px) and (min-width:601px) {

  /* <- 3-2  hexagons per row */
  #hexGrid {
      padding-bottom: 7.4%
  }

  .hex {
      width: 33.333%;
      /* = 100 / 3 */
  }

  .hex:nth-child(5n+4) {
      /* first hexagon of even rows */
      margin-left: 16.666%;
      /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 600px) {

  /* <- 2-1  hexagons per row */
  #hexGrid {
      padding-bottom: 11.2%
  }

  .hex {
      width: 50%;
      /* = 100 / 3 */
  }

  .hex:nth-child(3n+3) {
      /* first hexagon of even rows */
      margin-left: 25%;
      /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 400px) {
  #hexGrid {
      font-size: 13px;
  }
}